{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
{{ new }}
{% endblock title %}

{% block content %}
<p>&nbsp;</p>
<h3 align="center">{{ new.post_title|makegoodwords }}</h3>
<hr>
<p> <a href="{ new_edit }" style='...'><u>Редактировать пост</u></a></p>


<!--<blockquote>-->
    <p style="font-size: 1.2em; text-align: justify;">{{ new.post_text|makegoodwords }}</p>
<!--</blockquote>-->

<p>&nbsp;</p>
<p style="font-size: 1.2em;" align="right">{{ new.post_create_datetime|date:'d M Y' }}</p>

{% endblock content %}